.DS_Store
_downloads/*
build/*
tools/
!build/readme.txt
_hdainject_marker.txt
_hdazml_marker.txt
Patches.xcodeproj/project.xcworkspace
Patches.xcodeproj/xcuserdata
AppleHDAHCD_NUCHDA.kext
AppleHDA_NUCHDA.kext
AppleHDA_NUCHDA_Resources
