<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>1</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>CodecID</key>
			<array>
				<integer>283902595</integer>
			</array>
			<key>Headphone</key>
			<dict/>
			<key>Inputs</key>
			<array>
				<string>Mic</string>
			</array>
			<key>IntSpeaker</key>
			<dict/>
			<key>LineIn</key>
			<dict/>
			<key>LineOut</key>
			<dict/>
			<key>Mic</key>
			<dict>
				<key>MuteGPIO</key>
				<integer>1342242840</integer>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1</integer>
								<key>3</key>
								<integer>0</integer>
								<key>4</key>
								<integer>-1073029587</integer>
								<key>5</key>
								<data>UNiAwmgCb8KcoIHCjGeGwko3g8KLS3nClQV9wnr7hMLRp43CAIiSwlajlcLnK5jCHMuYwrl9lcJXm4/CBhmQwuJvlMKbxJTC7qyUwtjDl8KU+ZzCnCaewsmuncK/i5/CJtSewp8um8Lex5rC2QCdwq1lnsJ105zC9qmcwrMcnsLj/qDCZs2hwhtCocIFoZ/CCxOewrxwncIKiZrCyO+YwsmtmsID5p7CeNqfwhNMncKWIp3ChrycwiJcm8IkjJ3CsKqfwuByn8Iu8ZvCvyiWwhbdkcIEu4vCUfWLwoYrlcIy5J3Ci9ycwp0lnsK0QaDCOiygwnxdn8IztJ7Ciq2fwhFzosLIZaPCwUOjwo6TosIkR6LC6vehwtrwosIdtJ/CXLmbwlSZmcKDhJXCDFGRwnV6j8JTjY/CrqGQwgqYk8INzpjCuTufwrjlocKviKPC5YqlwgdmpcKZ2aXCGiumwq95osJOIJ/Cxl+ewtWGl8KmPJPC+sSawkdHo8JWB6LCskyhwqk7pcIth6nCh4Wswk+crcK9J6zCYJWqwmVJq8K8063C+1GuwiQAqMJjvZ/Cjo2hwsParsLRXrXCec63wr6IucLzD7rCuQy7wjs8vsKfJsLCxgrFwqVeyMIT6srCU+nMwv+M0MKaftbCpcjdwm+p5sL/CfHCHcT8wrp3A8PiJAzD</data>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
						<key>DspFunction1</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>1</integer>
								<key>DspFuncName</key>
								<string>DspEqualization32</string>
								<key>DspFuncProcessingIndex</key>
								<integer>1</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>9</key>
								<integer>0</integer>
								<key>Filter</key>
								<array>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>0</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1119939268</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>-1069504319</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>4</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1165674830</integer>
										<key>7</key>
										<integer>1106304591</integer>
										<key>8</key>
										<integer>-1073964333</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>5</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1141348835</integer>
										<key>7</key>
										<integer>1084737706</integer>
										<key>8</key>
										<integer>-1065063953</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>6</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1139052693</integer>
										<key>7</key>
										<integer>1080938866</integer>
										<key>8</key>
										<integer>-1073319056</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>8</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1161958655</integer>
										<key>7</key>
										<integer>1099668786</integer>
										<key>8</key>
										<integer>-1073319056</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>9</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1148922426</integer>
										<key>7</key>
										<integer>1086508776</integer>
										<key>8</key>
										<integer>-1076100424</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>10</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1169908270</integer>
										<key>7</key>
										<integer>1106659062</integer>
										<key>8</key>
										<integer>-1078236516</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>11</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1168889995</integer>
										<key>7</key>
										<integer>1103911084</integer>
										<key>8</key>
										<integer>-1082886964</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>12</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1160729473</integer>
										<key>7</key>
										<integer>1095247586</integer>
										<key>8</key>
										<integer>-1076100424</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>19</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1171440929</integer>
										<key>7</key>
										<integer>1103785747</integer>
										<key>8</key>
										<integer>-1075032379</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>21</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1163187837</integer>
										<key>7</key>
										<integer>1102690138</integer>
										<key>8</key>
										<integer>-1073319056</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>23</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1172459204</integer>
										<key>7</key>
										<integer>1098523915</integer>
										<key>8</key>
										<integer>-1062927862</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>24</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1175303133</integer>
										<key>7</key>
										<integer>1102375714</integer>
										<key>8</key>
										<integer>-1061058782</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>25</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1179874390</integer>
										<key>7</key>
										<integer>1097945441</integer>
										<key>8</key>
										<integer>-1054338996</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>26</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1167504019</integer>
										<key>7</key>
										<integer>1102555367</integer>
										<key>8</key>
										<integer>-1044515201</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>27</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1177335863</integer>
										<key>7</key>
										<integer>1102845396</integer>
										<key>8</key>
										<integer>-1054739513</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>31</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>0</integer>
										<key>6</key>
										<integer>1184146588</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>-1069504319</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction2</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>2</integer>
								<key>DspFuncName</key>
								<string>DspGainStage</string>
								<key>DspFuncProcessingIndex</key>
								<integer>2</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1065353216</integer>
								<key>3</key>
								<integer>1065353216</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Outputs</key>
			<array>
				<string>Headphone</string>
				<string>IntSpeaker</string>
			</array>
			<key>PathMapID</key>
			<integer>283</integer>
			<key>SPDIFOut</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
