<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PathMaps</key>
	<array>
		<dict>
			<key>PathMapID</key>
			<integer>283</integer>
			<key>PathMap</key>
			<array>
				<array>
					<array>
						<array>
							<dict>
								<key>Amp</key>
								<dict>
									<key>Channels</key>
									<array>
										<dict>
											<key>Bind</key>
											<integer>1</integer>
											<key>Channel</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Bind</key>
											<integer>2</integer>
											<key>Channel</key>
											<integer>2</integer>
										</dict>
									</array>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<true/>
								</dict>
								<key>NodeID</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>NodeID</key>
								<integer>35</integer>
							</dict>
							<dict>
								<key>Boost</key>
								<integer>3</integer>
								<key>NodeID</key>
								<integer>25</integer>
							</dict>
						</array>
					</array>
				</array>
				<array>
					<array>
						<array>
							<dict>
								<key>Amp</key>
								<dict>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>33</integer>
							</dict>
							<dict>
								<key>Amp</key>
								<dict>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>12</integer>
							</dict>
							<dict>
								<key>Amp</key>
								<dict>
									<key>Channels</key>
									<array>
										<dict>
											<key>Bind</key>
											<integer>1</integer>
											<key>Channel</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Bind</key>
											<integer>2</integer>
											<key>Channel</key>
											<integer>2</integer>
										</dict>
									</array>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>2</integer>
							</dict>
						</array>
					</array>
				</array>
			</array>
		</dict>
		<dict>
			<key>PathMapID</key>
			<integer>233</integer>
			<key>PathMap</key>
			<array>
				<array>
					<array>
						<array>
							<dict>
								<key>Amp</key>
								<dict>
									<key>Channels</key>
									<array>
										<dict>
											<key>Bind</key>
											<integer>1</integer>
											<key>Channel</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Bind</key>
											<integer>2</integer>
											<key>Channel</key>
											<integer>2</integer>
										</dict>
									</array>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<true/>
								</dict>
								<key>NodeID</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>NodeID</key>
								<integer>35</integer>
							</dict>
							<dict>
								<key>Boost</key>
								<integer>3</integer>
								<key>NodeID</key>
								<integer>25</integer>
							</dict>
						</array>
					</array>
				</array>
				<array>
					<array>
						<array>
							<dict>
								<key>Amp</key>
								<dict>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>33</integer>
							</dict>
							<dict>
								<key>Amp</key>
								<dict>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>12</integer>
							</dict>
							<dict>
								<key>Amp</key>
								<dict>
									<key>Channels</key>
									<array>
										<dict>
											<key>Bind</key>
											<integer>1</integer>
											<key>Channel</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Bind</key>
											<integer>2</integer>
											<key>Channel</key>
											<integer>2</integer>
										</dict>
									</array>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>2</integer>
							</dict>
						</array>
					</array>
				</array>
				<array>
					<array>
						<array>
							<dict>
								<key>Amp</key>
								<dict>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>27</integer>
							</dict>
							<dict>
								<key>Amp</key>
								<dict>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>13</integer>
							</dict>
							<dict>
								<key>Amp</key>
								<dict>
									<key>Channels</key>
									<array>
										<dict>
											<key>Bind</key>
											<integer>1</integer>
											<key>Channel</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Bind</key>
											<integer>2</integer>
											<key>Channel</key>
											<integer>2</integer>
										</dict>
									</array>
									<key>MuteInputAmp</key>
									<true/>
									<key>PublishMute</key>
									<true/>
									<key>PublishVolume</key>
									<true/>
									<key>VolumeInputAmp</key>
									<false/>
								</dict>
								<key>NodeID</key>
								<integer>3</integer>
							</dict>
						</array>
					</array>
				</array>
			</array>
		</dict>
	</array>
</dict>
</plist>
